.signup-form {
    width: 400px;
    height: 370px;
    padding: 25px;
    border-radius: 40px;
    background-color: #f8f7de;
    overflow: hidden;
    /* display: flex;
    justify-content: column;
    align-items: center; */
}
