.spotitem-container {
    width: 250px;
    margin: 10px 0 10px;
    z-index: 0;
    cursor: pointer;
}

.image-container {
    cursor: pointer;
}

.spotitem-container .image-container {
    position: relative;
    border: 1px solid #ccc;
    height: 270px;
    width: 250px;
    border-radius: 18px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.spotitem-container .image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.info-container {
    display: flex;
    justify-content: flex-start;
    gap: 30px;

}

.city-state-price {
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 5px;
}

.star {
    width: 23px;
    height: 23px;
    margin-top: 3px;
}

.rating-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-right: 5px;
    gap: 4px;
    /* align-items: center; */

    /* padding-left: 20px; */
}

.city-state {
    font-weight: bold;
    line-height: 1.2;
}

.price-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    /* text-align: center; */
    gap: 10px;
}

.price-container .price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    margin-top: 5px;
    letter-spacing: -1px;
}

.city-state-price #bells {
    width: 20px;
    height: 25px;
}

.rating-container .no-ratings {
    color: red;
    font-weight: bold;
}
