/* TODO: Add sitewide styles */
* {
    font-family: 'FOT-Seurat';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'FOT-Seurat';
    src: url('/fonts/FOT-Seurat Pro DB.otf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'FOT-Seurat';
    src: url('/fonts/FOT-Seurat Pro B.otf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Garet-Heavy';
    src: url('/fonts/Garet-Heavy.ttf') format('truetype');
    font-weight: bold;
}

body {
    background-color: #f8f7de;
    font-family: 'Garet-Book', sans-serif;
    margin: 0;
    padding: 0;
    color: #815C2F;
}
